version: '3.8'

services:
  backend:
    build: ./backend
    container_name: ourtube-backend
    volumes:
      - ./downloads:/app/downloads
    ports:
      - "8000:8000"
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: ourtube-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  downloads:
